@font-face {
  font-family: "iconfont"; /* Project id 1695783 */
  src: url('iconfont.woff2?t=1625036680501') format('woff2'),
       url('iconfont.woff?t=1625036680501') format('woff'),
       url('iconfont.ttf?t=1625036680501') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconbanner:before {
  content: "\e60f";
}

.iconbanner1:before {
  content: "\e64c";
}

.iconbanner2:before {
  content: "\e62f";
}

.iconGroup:before {
  content: "\e697";
}

